.menu-gif {
    width: 100%;
    height: auto;
    /* Permite que la imagen se vea completa */
    display: block;
    object-fit: contain;
    background-color: #f8f9fa;
    /* Fondo ligero por si el gif tiene transparencias */
}

.card-body {
    min-height: 100%;
}